In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
.appName("Test Transformation Script") \
.getOrCreate()

24/08/30 22:54:51 WARN Utils: Your hostname, codespaces-ef2dca resolves to a loopback address: 127.0.0.1; using 10.0.1.169 instead (on interface eth0)
24/08/30 22:54:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/30 22:54:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7aea55deffb0>

In [4]:
df = spark.read.json("issues.json")

In [5]:
df.printSchema()
from pyspark.sql.functions import col, to_timestamp

root
 |-- acknowledged_at: string (nullable = true)
 |-- address: string (nullable = true)
 |-- closed_at: string (nullable = true)
 |-- comment_url: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- description: string (nullable = true)
 |-- flag_url: string (nullable = true)
 |-- html_url: string (nullable = true)
 |-- id: long (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- media: struct (nullable = true)
 |    |-- image_full: string (nullable = true)
 |    |-- image_square_100x100: string (nullable = true)
 |    |-- representative_image_url: string (nullable = true)
 |    |-- video_url: string (nullable = true)
 |-- point: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- private_visibility: boolean (nullable = true)
 |-- rating: long (nullable = true)
 |-- reopened_at: string (nullable = true)
 |-- reporter: struct (nullable = true)
 |    |-- avatar: struct (nullable = true)
 |    |    |-- full: string (nullable = true)
 |    |    |-- square_100x100: string (nullable = true)
 |    |-- civic_points: long (nullable = true)
 |    |-- html_url: string (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- role: string (nullable = true)
 |    |-- witty_title: string (nullable = true)
 |-- request_type: struct (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- organization: string (nullable = true)
 |    |-- related_issues_url: string (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- url: string (nullable = true)
 |-- shortened_url: string (nullable = true)
 |-- status: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- transitions: struct (nullable = true)
 |    |-- close_url: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- url: string (nullable = true)

In [6]:
def select_col(df):
    selected_df = df.select(
        col("id"),
        col("reporter.name"),
        col("created_at"),
        col("updated_at"),
        col("status"),
        col("summary"),
        col("description"),
        col("lat"),
        col("lng"),
        col("address"),
        col("url"),
        col("reporter.role"),
        col("request_type.organization"),
        col("request_type.title"),
        col("request_type.url"),
        col("private_visibility"),
        col("rating")
    )
    
    return selected_df

In [7]:
df = select_col(df)
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- status: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- description: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- address: string (nullable = true)
 |-- url: string (nullable = true)
 |-- role: string (nullable = true)
 |-- organization: string (nullable = true)
 |-- title: string (nullable = true)
 |-- url: string (nullable = true)
 |-- private_visibility: boolean (nullable = true)
 |-- rating: long (nullable = true)

In [8]:
df.printSchema()
from pyspark.sql import functions as F
from pyspark.sql import DataFrame

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- status: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- description: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- address: string (nullable = true)
 |-- url: string (nullable = true)
 |-- role: string (nullable = true)
 |-- organization: string (nullable = true)
 |-- title: string (nullable = true)
 |-- url: string (nullable = true)
 |-- private_visibility: boolean (nullable = true)
 |-- rating: long (nullable = true)

In [9]:
def rename_columns(df: DataFrame) -> DataFrame:

    r_dict = {
        "id": "id",
        "name": "reporter_name",
        "created_at": "issue_created_at",
        "updated_at": "issue_updated_at",
        "status": "issue_status",
        "summary": "issue_summary",
        "description": "issue_description",
        "lat": "latitude",
        "lng": "longitude",
        "address": "issue_address",
        "url": "url",
        "role": "reporter_role",
        "organization": "organization",
        "title": "title",
        "private_visibility": "is_private",
        "rating": "rating"
    }

    for old_name, new_name in r_dict.items():
        df = df.withColumnRenamed(old_name, new_name)
    
    return df

In [10]:
df1 = rename_columns(df)

In [11]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- reporter_name: string (nullable = true)
 |-- issue_created_at: string (nullable = true)
 |-- issue_updated_at: string (nullable = true)
 |-- issue_status: string (nullable = true)
 |-- issue_summary: string (nullable = true)
 |-- issue_description: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- issue_address: string (nullable = true)
 |-- url: string (nullable = true)
 |-- reporter_role: string (nullable = true)
 |-- organization: string (nullable = true)
 |-- title: string (nullable = true)
 |-- url: string (nullable = true)
 |-- is_private: boolean (nullable = true)
 |-- rating: long (nullable = true)

In [12]:
df1.show(1)

+--------+-------------+--------------------+--------------------+------------+--------------------+--------------------+----------------+-----------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+----------+------+
|      id|reporter_name|    issue_created_at|    issue_updated_at|issue_status|       issue_summary|   issue_description|        latitude|        longitude|       issue_address|                 url|    reporter_role|        organization|               title|                 url|is_private|rating|
+--------+-------------+--------------------+--------------------+------------+--------------------+--------------------+----------------+-----------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+----------+------+
|17398644|      311_MDP|2024-08-29T11:56:...|2024-08-29T11:56:...|        Open|Inoperable Vehicl...|citizen states th...|33.4828359940456|-86.8150319842692|604 22nd Ave S Bi...|https://seeclickf...|Verified Official|Birmingham Police...|Inoperable Vehicl...|https://seeclickf...|     false|     1|
+--------+-------------+--------------------+--------------------+------------+--------------------+--------------------+----------------+-----------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+----------+------+
only showing top 1 row

In [13]:
from pyspark.sql.functions import col, to_timestamp, to_date
from pyspark.sql.types import LongType, StringType, DoubleType, BooleanType

def convert_data_types(df: DataFrame) -> DataFrame:
    # Convert to appropriate data types
    df = df.withColumn("created_at", to_timestamp(col("created_at"))) \
           .withColumn("updated_at", to_timestamp(col("updated_at")))

    return df

In [14]:
df2 = df1.withColumnRenamed(df1.columns[9], "issue_url")
df2.printSchema()
df2 = convert_data_types(df2)
df2.show(1)

root
 |-- id: long (nullable = true)
 |-- reporter_name: string (nullable = true)
 |-- issue_created_at: string (nullable = true)
 |-- issue_updated_at: string (nullable = true)
 |-- issue_status: string (nullable = true)
 |-- issue_summary: string (nullable = true)
 |-- issue_description: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- issue_url: string (nullable = true)
 |-- url: string (nullable = true)
 |-- reporter_role: string (nullable = true)
 |-- organization: string (nullable = true)
 |-- title: string (nullable = true)
 |-- url: string (nullable = true)
 |-- is_private: boolean (nullable = true)
 |-- rating: long (nullable = true)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `created_at` cannot be resolved. Did you mean one of the following? [`rating`, `issue_created_at`, `id`, `latitude`, `reporter_name`].;
'Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_url#451, url#259, reporter_role#278, organization#296, title#314, url#260, is_private#332, rating#350L, to_timestamp('created_at, None, TimestampType, Some(Etc/UTC), false) AS created_at#469]
+- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_address#241 AS issue_url#451, url#259, reporter_role#278, organization#296, title#314, url#260, is_private#332, rating#350L]
   +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_address#241, url#259, reporter_role#278, organization#296, title#314, url#260, is_private#332, rating#22L AS rating#350L]
      +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_address#241, url#259, reporter_role#278, organization#296, title#314, url#260, private_visibility#21 AS is_private#332, rating#22L]
         +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_address#241, url#259, reporter_role#278, organization#296, title#59 AS title#314, url#260, private_visibility#21, rating#22L]
            +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_address#241, url#259, reporter_role#278, organization#58 AS organization#296, title#59, url#260, private_visibility#21, rating#22L]
               +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_address#241, url#259, role#57 AS reporter_role#278, organization#58, title#59, url#260, private_visibility#21, rating#22L]
                  +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, issue_address#241, url#31 AS url#259, role#57, organization#58, title#59, url#60 AS url#260, private_visibility#21, rating#22L]
                     +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, longitude#223, address#9 AS issue_address#241, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                        +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, latitude#205, lng#18 AS longitude#223, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                           +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, issue_description#187, lat#17 AS latitude#205, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                              +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, issue_summary#169, description#13 AS issue_description#187, lat#17, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                                 +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, issue_status#151, summary#28 AS issue_summary#169, description#13, lat#17, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                                    +- Project [id#79L, reporter_name#97, issue_created_at#115, issue_updated_at#133, status#27 AS issue_status#151, summary#28, description#13, lat#17, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                                       +- Project [id#79L, reporter_name#97, issue_created_at#115, updated_at#30 AS issue_updated_at#133, status#27, summary#28, description#13, lat#17, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                                          +- Project [id#79L, reporter_name#97, created_at#12 AS issue_created_at#115, updated_at#30, status#27, summary#28, description#13, lat#17, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                                             +- Project [id#79L, name#56 AS reporter_name#97, created_at#12, updated_at#30, status#27, summary#28, description#13, lat#17, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                                                +- Project [id#16L AS id#79L, name#56, created_at#12, updated_at#30, status#27, summary#28, description#13, lat#17, lng#18, address#9, url#31, role#57, organization#58, title#59, url#60, private_visibility#21, rating#22L]
                                                   +- Project [id#16L, reporter#24.name AS name#56, created_at#12, updated_at#30, status#27, summary#28, description#13, lat#17, lng#18, address#9, url#31, reporter#24.role AS role#57, request_type#25.organization AS organization#58, request_type#25.title AS title#59, request_type#25.url AS url#60, private_visibility#21, rating#22L]
                                                      +- Relation [acknowledged_at#8,address#9,closed_at#10,comment_url#11,created_at#12,description#13,flag_url#14,html_url#15,id#16L,lat#17,lng#18,media#19,point#20,private_visibility#21,rating#22L,reopened_at#23,reporter#24,request_type#25,shortened_url#26,status#27,summary#28,transitions#29,updated_at#30,url#31] json

24/08/30 22:55:03 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [ ]:
df2.printSchema()
from pyspark.sql.functions import col, isnan, when, count

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- created_at: timestamp (nullable = true)
 |-- updated_at: timestamp (nullable = true)
 |-- status: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- description: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- issue_url: string (nullable = true)
 |-- reporter_url: string (nullable = true)
 |-- role: string (nullable = true)
 |-- organization: string (nullable = true)
 |-- title: string (nullable = true)
 |-- reporter_url: string (nullable = true)
 |-- private_visibility: boolean (nullable = true)
 |-- rating: long (nullable = true)

In [ ]:
df = df2.drop("reporter_url")

In [ ]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- created_at: timestamp (nullable = true)
 |-- updated_at: timestamp (nullable = true)
 |-- status: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- description: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- issue_url: string (nullable = true)
 |-- role: string (nullable = true)
 |-- organization: string (nullable = true)
 |-- title: string (nullable = true)
 |-- private_visibility: boolean (nullable = true)
 |-- rating: long (nullable = true)

In [ ]:
df.show(2)

+--------+-------------------+-------------------+-------------------+------+--------------------+--------------------+----------------+-----------------+--------------------+-----------------+--------------------+--------------------+------------------+------+
|      id|               name|         created_at|         updated_at|status|             summary|         description|             lat|              lng|           issue_url|             role|        organization|               title|private_visibility|rating|
+--------+-------------------+-------------------+-------------------+------+--------------------+--------------------+----------------+-----------------+--------------------+-----------------+--------------------+--------------------+------------------+------+
|17398644|            311_MDP|2024-08-29 15:56:08|2024-08-29 15:56:09|  Open|Inoperable Vehicl...|citizen states th...|33.4828359940456|-86.8150319842692|604 22nd Ave S Bi...|Verified Official|Birmingham Police...|Inoperable Vehicl...|             false|     1|
|17398642|Hoover, AL Neighbor|2024-08-29 15:56:06|2024-08-29 15:56:17|  Open|Limbs/Debris and ...|2 bags of leaves ...|33.3680980073801|-86.7697550387912|4652 S Lakeridge ...|            Guest|          Hoover, AL|Limbs/Debris and ...|             false|     1|
+--------+-------------------+-------------------+-------------------+------+--------------------+--------------------+----------------+-----------------+--------------------+-----------------+--------------------+--------------------+------------------+------+
only showing top 2 rows

In [ ]:
from pyspark.sql.functions import sum

In [ ]:
missing_values_count = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])
missing_values_count.show()

+---+----+----------+----------+------+-------+-----------+---+---+---------+----+------------+-----+------------------+------+
| id|name|created_at|updated_at|status|summary|description|lat|lng|issue_url|role|organization|title|private_visibility|rating|
+---+----+----------+----------+------+-------+-----------+---+---+---------+----+------------+-----+------------------+------+
|  0|   0|         0|         0|     0|      0|          0|  0|  0|        0|   0|           0|    0|                 0|     0|
+---+----+----------+----------+------+-------+-----------+---+---+---------+----+------------+-----+------------------+------+

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "element_at(summary, summary)" due to data type mismatch: Parameter 1 requires the ("ARRAY" or "MAP") type, however "summary" has the type "STRING".;
'Project [summary#4995, element_at(id#4710, summary#4995, None, false) AS id#4766, element_at(name#4715, summary#4995, None, false) AS name#4767, element_at(status#4720, summary#4995, None, false) AS status#4768, element_at(summary#4995, summary#4995, None, false) AS summary#4769, element_at(description#4730, summary#4995, None, false) AS description#4770, element_at(lat#4735, summary#4995, None, false) AS lat#4771, element_at(lng#4740, summary#4995, None, false) AS lng#4772, element_at(issue_url#4745, summary#4995, None, false) AS issue_url#4773, element_at(role#4750, summary#4995, None, false) AS role#4774, element_at(organization#4755, summary#4995, None, false) AS organization#4775, element_at(title#4760, summary#4995, None, false) AS title#4776, element_at(rating#4765, summary#4995, None, false) AS rating#4777]
+- Project [id#4710, name#4715, status#4720, summary#4995, description#4730, lat#4735, lng#4740, issue_url#4745, role#4750, organization#4755, title#4760, rating#4765]
   +- Generate explode([count,mean,stddev,min,max]), false, [summary#4995]
      +- Aggregate [map(cast(count as string), cast(count(id#3229L) as string), cast(mean as string), cast(avg(id#3229L) as string), cast(stddev as string), cast(stddev(cast(id#3229L as double)) as string), cast(min as string), cast(min(id#3229L) as string), cast(max as string), cast(max(id#3229L) as string)) AS id#4710, map(cast(count as string), cast(count(name#3269) as string), cast(mean as string), cast(avg(try_cast(name#3269 as double)) as string), cast(stddev as string), cast(stddev(try_cast(name#3269 as double)) as string), cast(min as string), cast(min(name#3269) as string), cast(max as string), cast(max(name#3269) as string)) AS name#4715, map(cast(count as string), cast(count(status#3240) as string), cast(mean as string), cast(avg(try_cast(status#3240 as double)) as string), cast(stddev as string), cast(stddev(try_cast(status#3240 as double)) as string), cast(min as string), cast(min(status#3240) as string), cast(max as string), cast(max(status#3240) as string)) AS status#4720, map(cast(count as string), cast(count(summary#3241) as string), cast(mean as string), cast(avg(try_cast(summary#3241 as double)) as string), cast(stddev as string), cast(stddev(try_cast(summary#3241 as double)) as string), cast(min as string), cast(min(summary#3241) as string), cast(max as string), cast(max(summary#3241) as string)) AS summary#4725, map(cast(count as string), cast(count(description#3226) as string), cast(mean as string), cast(avg(try_cast(description#3226 as double)) as string), cast(stddev as string), cast(stddev(try_cast(description#3226 as double)) as string), cast(min as string), cast(min(description#3226) as string), cast(max as string), cast(max(description#3226) as string)) AS description#4730, map(cast(count as string), cast(count(lat#3230) as string), cast(mean as string), cast(avg(lat#3230) as string), cast(stddev as string), cast(stddev(lat#3230) as string), cast(min as string), cast(min(lat#3230) as string), cast(max as string), cast(max(lat#3230) as string)) AS lat#4735, map(cast(count as string), cast(count(lng#3231) as string), cast(mean as string), cast(avg(lng#3231) as string), cast(stddev as string), cast(stddev(lng#3231) as string), cast(min as string), cast(min(lng#3231) as string), cast(max as string), cast(max(lng#3231) as string)) AS lng#4740, map(cast(count as string), cast(count(issue_url#4239) as string), cast(mean as string), cast(avg(try_cast(issue_url#4239 as double)) as string), cast(stddev as string), cast(stddev(try_cast(issue_url#4239 as double)) as string), cast(min as string), cast(min(issue_url#4239) as string), cast(max as string), cast(max(issue_url#4239) as string)) AS issue_url#4745, map(cast(count as string), cast(count(role#3270) as string), cast(mean as string), cast(avg(try_cast(role#3270 as double)) as string), cast(stddev as string), cast(stddev(try_cast(role#3270 as double)) as string), cast(min as string), cast(min(role#3270) as string), cast(max as string), cast(max(role#3270) as string)) AS role#4750, map(cast(count as string), cast(count(organization#3271) as string), cast(mean as string), cast(avg(try_cast(organization#3271 as double)) as string), cast(stddev as string), cast(stddev(try_cast(organization#3271 as double)) as string), cast(min as string), cast(min(organization#3271) as string), cast(max as string), cast(max(organization#3271) as string)) AS organization#4755, map(cast(count as string), cast(count(title#3272) as string), cast(mean as string), cast(avg(try_cast(title#3272 as double)) as string), cast(stddev as string), cast(stddev(try_cast(title#3272 as double)) as string), cast(min as string), cast(min(title#3272) as string), cast(max as string), cast(max(title#3272) as string)) AS title#4760, map(cast(count as string), cast(count(rating#3235L) as string), cast(mean as string), cast(avg(rating#3235L) as string), cast(stddev as string), cast(stddev(cast(rating#3235L as double)) as string), cast(min as string), cast(min(rating#3235L) as string), cast(max as string), cast(max(rating#3235L) as string)) AS rating#4765]
         +- Project [id#3229L, name#3269, created_at#4257, updated_at#4275, status#3240, summary#3241, description#3226, lat#3230, lng#3231, issue_url#4239, role#3270, organization#3271, title#3272, private_visibility#3234, rating#3235L]
            +- Project [id#3229L, name#3269, created_at#4257, to_timestamp(updated_at#3243, None, TimestampType, Some(Etc/UTC), false) AS updated_at#4275, status#3240, summary#3241, description#3226, lat#3230, lng#3231, issue_url#4239, reporter_url#3953, role#3270, organization#3271, title#3272, reporter_url#3954, private_visibility#3234, rating#3235L]
               +- Project [id#3229L, name#3269, to_timestamp(created_at#3225, None, TimestampType, Some(Etc/UTC), false) AS created_at#4257, updated_at#3243, status#3240, summary#3241, description#3226, lat#3230, lng#3231, issue_url#4239, reporter_url#3953, role#3270, organization#3271, title#3272, reporter_url#3954, private_visibility#3234, rating#3235L]
                  +- Project [id#3229L, name#3269, created_at#3225, updated_at#3243, status#3240, summary#3241, description#3226, lat#3230, lng#3231, address#3222 AS issue_url#4239, reporter_url#3953, role#3270, organization#3271, title#3272, reporter_url#3954, private_visibility#3234, rating#3235L]
                     +- Project [id#3229L, name#3269, created_at#3225, updated_at#3243, status#3240, summary#3241, description#3226, lat#3230, lng#3231, address#3222, url#3244 AS reporter_url#3953, role#3270, organization#3271, title#3272, url#3273 AS reporter_url#3954, private_visibility#3234, rating#3235L]
                        +- Project [id#3229L, reporter#3237.name AS name#3269, created_at#3225, updated_at#3243, status#3240, summary#3241, description#3226, lat#3230, lng#3231, address#3222, url#3244, reporter#3237.role AS role#3270, request_type#3238.organization AS organization#3271, request_type#3238.title AS title#3272, request_type#3238.url AS url#3273, private_visibility#3234, rating#3235L]
                           +- Relation [acknowledged_at#3221,address#3222,closed_at#3223,comment_url#3224,created_at#3225,description#3226,flag_url#3227,html_url#3228,id#3229L,lat#3230,lng#3231,media#3232,point#3233,private_visibility#3234,rating#3235L,reopened_at#3236,reporter#3237,request_type#3238,shortened_url#3239,status#3240,summary#3241,transitions#3242,updated_at#3243,url#3244] json